@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap');



$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 20px;
}

.header {
    height: 95vh;
    //width: 100%;
    background: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(39, 180, 133, 0.8)), url('./images/headerBG.jpg') bottom ;
    background-size: cover;
    clip-path: polygon(0% 0%,100% 0%, 100% 75%, 0% 100%);
    position: relative;
    .logo img{
        height: 50px;
        position: absolute;
        top: 40px;
        left: 40px;
        filter: invert(1);
    }

    .text-box  {
        // background-color: black;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &-box {
        h1 {
            text-transform: uppercase;
            color: white;
            margin-bottom: 40px;
            backface-visibility: hidden;
            .hmain {
                font-size: 1.4em;
                letter-spacing: 25px;
                font-weight: 700;
                animation: animate1 1s;
                animation-delay: .25s;
                animation-timing-function: ease-in-out;
            }
            .hsec {
                font-size: .57em;
                word-spacing: 5px;
                letter-spacing: 10px;
                font-weight: 400;
                animation: animate2 1s;
                animation-delay: .25s;
                animation-timing-function: ease-in-out;
            }
        }
        span {
            display: block;
        }

    }

}

@keyframes animate1 {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }

    100% {
        opacity: 1;
        transform: translateX(10px);
    }
}

@keyframes animate2 {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }

    100% {
        opacity: 1;
        transform: translateX(-10px);
    }
}


/*** Decorating the button with various animations like the box shadow, transition, transform etc *****/
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 75px;
    transition: .2s ease-in-out;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.205);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.205);
}
.btn-white {
    background-color: #fff;
    color: #777;
    display: inline-block;
}
